<div class="container">
    <div class="row">
        <div class="col-xs-12 new_userprofile">
            <div class="profile-head">
                <div class="profile-pic"></div>

                <hr>
            </div>

            <%= form_for @user do |f| %>

            <div class="profile-addition">
                <div class="profile-input clearfix">
                    <h3><%= f.label :fullname, "真實姓名" %></h3>
                    <%= f.text_area :fullname, :class => "form-control", :placeholder=>"請輸入您的真實姓名", :required => true %>
                </div>

                <div class="profile-input clearfix">
                    <h3><%= f.label :phone, "電話號碼" %></h3>
                    <%= f.text_area :phone, :class => "form-control", :placeholder=>"請輸入您的聯絡電話", :required => true %>
                </div>
                <div class="profile-input clearfix">
                    <h3><%= f.label :email, "電子信箱" %></h3>
                    <%= f.text_area :email, :class => "form-control", :placeholder=>"請輸入您的聯絡信箱", :required => true %>
                </div>
                <div class="profile-input clearfix">
                    <h3><%= f.label :introduction, "自我介紹" %></h3>
                    <%= f.text_area :introduction, :class => "form-control", :placeholder=>"運用簡短自介拉近與他人的距離吧！", :required => true %>
                </div>
            </div>
            <div class="form-group submit">
                <h3><%= f.submit "儲存個人資料"%></h3>
            </div>
            <% end %>
        </div>
    </div>
</div>
