<div class="one-order col-xs-12 col-sm-6">
  <!-- <small class="order-id">訂單編號：<%= o.id %></small> -->
  <p class="fee">接單賺取NTD <%= o.detail.fee%></p>
  <p class="addr-from"><i class="fa fa-circle" aria-hidden="true"></i> <%= o.pickup_addr%></p>
  <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
  <p class="addr-to"><i class="fa fa-circle-thin" aria-hidden="true"></i> <%= o.deliver_addr%></p>

  <div class="wrap-time col-xs-7">
    <span><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i> <%= o.created_at.strftime('%F')%> <%= o.created_at.strftime('%R')%></span>
  </div>
  <div class="col-xs-5 wrap-detail">
    <%= button_to "點看詳情", order_path(o), :class => "btn btn-primary btn-xs detail", :method => :get %>
  </div>

</div>
