<div class="one-order col-xs-12 col-sm-6" data-id="o<%= o.id %>">
  <!-- <small class="order-id">訂單編號：<%= o.id %></small> -->
  <p class="fee">接單賺取 NTD <%= o.detail.fee%></p>
  <p class="addr-from"><i class="fa fa-circle" aria-hidden="true"></i> <%= o.pickup_addr%></p>
  <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
  <p class="addr-to"><i class="fa fa-circle-thin" aria-hidden="true"></i> <%= o.deliver_addr%></p>

  <div class="wrap-time">
    <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i> <%= o.created_at.strftime('%F')%> <%= o.created_at.strftime('%R')%>
  </div>
  <div class="wrap-detail">
    <%= button_to "點看詳情", order_path(o), :class => "btn btn-primary btn-xs detail", :method => :get %>
  </div>

</div>
