<div id="header">
  <div class="container">
    <div class="row-fluid">
      <div class="col-xs-12">
        <div class="top center-block text-center">
          <h1 class=" page-header ">順路送貨 賺取額外收入</h1>
          <h4>自由接訂單 每個月多3000元收入</h4>
          <% if !current_user %>
            <%= link_to "登入 Facebook", user_omniauth_authorize_path(:facebook), :class => "btn btn-primary btn-lg" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="containder">
  <div class="row-fluid">
    <div class="col-xs-12">
      <section id="order-list" class="col-xs-6">
        <h1 class="text-center">順路送貨</h1>
        <%= paginate @orders %>
        <% @orders.each do |o| %>
          <div id="single-order">
            <tr>

              <td class="col-xs-6 pic">
                <img src="http://s1.dmcdn.net/NIoqB/280x157-5Q4.jpg" alt="">
                <p><%= o.detail.fee%></p>
                <p><%= o.category%>類</p>

              </td>

              <td class="col-xs-6">
                <div class="list-right">

                  <h3>test</h3>
                  <p>from: <%= o.pickup_addr%></p>
                  <p>to: <%= o.deliver_addr%></p>
                  <%= button_to '點看詳情', order_path(o), :class => "btn btn-primary btn-xs btn-detail", :method => :post %>
                </div>
              </td>

            </tr>
          </div>
              <!-- <td>No.<%= o.id%></td>
              <td>   <%= o.category%></td>
              <td>from: <%= o.pickup_addr%></td>
              <td>to: <%= o.deliver_addr%></td>
              <td>reward: <%= o.detail.fee%></td> -->

        <%end%>
      </section>
      <section id="map" class="col-xs-6">
      <p>yoooo</p>
      </section>
    </div>
  </div>
</div>
