<div id="header">
  <div class="container-fluid header-container">
    <div class="container-fluid w1024">
      <div class="row">
        <div class="col-xs-12">
          <div class="top center-block text-align-left">

            <h1>寶寶想吃東西</h1><br/>
            <h2>可是寶寶不說可是寶寶不說可是寶寶不說</h2>

            <div class="wrap">
              <%= form_tag( new_order_path, :method => :get , :class => "wrap-write") do %>
                <%= text_field_tag :description,"" ,class: "insert form-control",:placeholder => "想吃什麼？例：一份雞排，一杯可樂", :description => :value %>
                <%= submit_tag("快找代言人" ,:class => "find btn") %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid contain-order dark">
  <div class="container-fluid w1024">
    <div class="row">
      <div class="col-xs-12">
        <section id="order-list">
          <h3 class="text-center order-title">順路送貨</h3>
          <div class="for-slick">
            <% @orders.each do |o| %>
              <div>
                <%= render :partial => "order", :locals => {:o => o} %>
              </div>
            <%end%>
          </div>
        </section>

        <div class="wrap-desapp clearfix">

          <div id="deatil-description" class="clearfix">
            <h4>托買清單</h4>
          <h1>here is the detail...</h1>
          </div>

          <div class="app clearfix">
            <h3>下載ＡＰＰ即可接單</h3>
            <div class="store"><%= image_tag("test.jpeg", class: "store") %></div>
            <%= image_tag("test.jpeg", class: "qrcode") %>
          </div>
        </div>
        <h2 class="rob">即刻下載ＡＰＰ搶單！寶寶不載<br/>免手續費，實賺實拿！寶寶不賺</h2>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid contain-life">
  <div class="container-fluid w1024">
    <div class="row">
      <div class="col-xs-12">
        <div class="life lifeup">
          <h2 class="h2md">簡單開源 生活更有品質</h2>
          <h2 class="col-md-3 h2lg">簡單開源<br/>生活更有品質</h2>
          <%= image_tag("1.png", class: "life-img") %>
          <%= image_tag("2.png", class: "life-img") %>
          <%= image_tag("3.png", class: "life-img") %>
        </div>
        <div class="life lifedown">
          <h2 class="h2md" >短程傳遞 生活更有溫度</h2>
          <h2 class="col-md-3 h2lg">短程傳遞<br/>生活更有溫度</h2>
          <%= image_tag("4.png", class: "life-img") %>
          <%= image_tag("5.png", class: "life-img") %>
          <%= image_tag("6.png", class: "life-img") %>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    var old_data_id="";
    var getdescription=function(){
      var url='<%=j v1_details_path%>'+'/9';
      // console.log(url);
      var x=$('.slick-current > div').data('id');
      // console.log(x+'&'+old_data_id);
      if(x==old_data_id){
        console.log('not change');
      }else{
            $.get( url, {o_id:x}, function(data){
              console.log(data);
              str=data['description'];
              $('#deatil-description h1').html(str);
            }, 'json' );
      };
      old_data_id="";
    };
    $('.slick-current').ready(function(){
      getdescription();
    });
    $('.for-slick').on('beforeChange',function(){
      // console.log('fire before slick change');
      old_data_id=$('.slick-current > div').data('id');      
    });    
    $('.for-slick').on('afterChange',function(){
      // console.log('fire after slick change');
      getdescription();
    });
    $('.for-slick').slick({

      // centerMode: true,
      // centerPadding: '60px',
      speed: 300,
      slidesToShow: 3,
      responsive: [
        {
          breakpoint: 992,
          settings: {
            arrows: true,
            // centerMode: true,
            // centerPadding: '40px',
            slidesToShow: 2
          }
        },
        {
          breakpoint: 768,
          settings: {
            arrows: true,
            // centerMode: true,
            // centerPadding: '40px',
            slidesToShow: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            arrows: true,
            // centerMode: true,
            // centerPadding: '40px',
            slidesToShow: 1
          }
        }
      ]
    });



  });
</script>
