
<div class = "order_form" >
  <div class="container">
    <h1>我要訂外賣</h1>

    <div class="form-group">

      <%= form_for @order do |o| %>
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h3> 1.訂單基本要求 </h3>

                <%= o.fields_for :detail do |detail_form| %>
                    <%= detail_form.label :description, "請詳列出點餐項目及需求數量" %>
                    <%= detail_form.text_field :description, :placeholder=>"例如：大腸包小腸十份，豬血糕三份～", :class => "form-control" %>

                <% end %>

                <%= o.label :pickup_addr, "輸入指定購餐地點" %>
                <%= o.text_field :pickup_addr, :placeholder=>"若要讓代買者自行決定要在哪裡買，留空白即可", :class => "form-control" %>

                <%= o.fields_for :detail do |detail_form| %>

                    <%= detail_form.label :prepay, "總餐點預算" %>
                    <%= detail_form.select :prepay, options_for_select([['NTD 1~100', '100'],['NTD 101~200', '200'],['NTD 201~300', '300'],['NTD 301~400', '400'],  ['NTD 401~500', '500']],:selected => detail_form.object.prepay), { :prompt => "選擇價格範圍"}, {:class => "form-control"}%>
                <% end %>

                <%= o.label :deliver_addr, "輸入送餐地點" %>
                <%= o.text_field :deliver_addr, :class => "form-control" %>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-5">
                <h3> 2.時間及運費設定 </h3>

                <%= o.label :deliver_time, "期望餐點送達時間" %>

                日期 <%= o.date_select :deliver_time, :class => "form-control" %>

                時間 <%= o.time_select :deliver_time, :class => "form-control" %>


                <%= o.fields_for :detail do |detail_form| %>
                    <%= detail_form.label :fee, "願付運費" %>
                    <%= detail_form.text_field :fee, :placeholder=>"例如： NTD 50 ~ 500", :class => "form-control" %>

                <% end %>

              </div>

              <div class="col-md-7">
                <h3> 3.收件人資料填寫 </h3>

                <%= o.fields_for :detail do |detail_form| %>
                    <%= detail_form.label :addressees_name, "收件人真實姓名" %>
                    <%= detail_form.text_field :addressees_name, :class => "form-control" %>

                    <%= detail_form.label :addressees_mobile, "收件者電話" %>
                    <%= detail_form.text_field :addressees_mobile, :class => "form-control" %>
                <% end %>


                <%= o.label :photo, "代買物品範例照片" %> (非必要)
                <%= o.file_field :photo, :class => "form-control" %>

                <% if @order.photo.exists? %>
                    <%= check_box_tag "destory_photo", "1" %> 刪除照片
                <% end %>


                <div class="form-group">
                  <%= o.submit "送出訂單", :class => " submit-button"%>
                </div>
      <% end %>

      </div>
      </div>
      </div>
    </div>
  </div>
</div>
