<div class = "order_form" >
    <div class="container">
     <h1>我要訂外賣</h1>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde perspiciatis, enim doloremque in voluptatibus doloribus aliquid commodi facilis accusantium quos, deleniti quae minus, dolore porro vel laudantium, eligendi ea blanditiis.</h5>
    <div class="form-group">

        <%= form_for @order do |o| %>

            <h3> 1.訂單基本要求 </h3>

        <%= o.fields_for :detail do |detail_form| %>
          <%= detail_form.label :description, "請詳列出點餐項目及需求數量" %>
          <%= detail_form.text_field :description, :class => "form-control" %>
        <p></p>
        <% end %>

        <%= o.label :pickup_addr, "輸入指定購餐地點（讓代買者決定要在哪裡買請輸入「NA」）" %>
        <%= o.text_field :pickup_addr, :class => "form-control" %>
        <p></p>

        <%= o.fields_for :detail do |detail_form| %>

        <h3>總餐點預算</h3>
        <%= detail_form.label :prepay, "選擇價格範圍" %>
        <%= detail_form.select :prepay, :class => "form-control" %>
        <p></p>
        <% end %>

        <%= o.label :deliver_addr, "輸入送餐地點" %>
        <%= o.text_field :deliver_addr, :class => "form-control" %>

        <p></p>

            <h3> 2.時間及運費設定 </h3>

        <%= o.label :deliver_time, "期望餐點送達時間" %>
        <p></p>
    日期 <%= o.date_select :deliver_time, :class => "form-control" %>
        <p></p>
    時間 <%= o.time_select :deliver_time, :class => "form-control" %>
        <p></p>

        <%= o.fields_for :detail do |detail_form| %>
            <%= detail_form.label :fee, "願付運費" %>
            <%= detail_form.text_field :fee, :class => "form-control" %>
        <p></p>
        <% end %>

            <h3> 3.收件人資料填寫 </h3>

        <%= o.fields_for :detail do |detail_form| %>
            <%= detail_form.label :addressees_name, "收件人真實姓名" %>
            <%= detail_form.text_field :addressees_name, :class => "form-control" %>
        <p></p>
            <%= detail_form.label :addressees_mobile, "收件者電話" %>
            <%= detail_form.text_field :addressees_mobile, :class => "form-control" %>
        <% end %>

        <p></p>
        <%= o.label :photo, "代買物品範例照片" %> (非必要)
        <%= o.file_field :photo, :class => "form-control" %>

            <% if @order.photo.exists? %>
            <%= check_box_tag "destory_photo", "1" %> 刪除照片
            <% end %>
        <p></p>

          <div class="form-group">
            <%= o.submit %>
          </div>
         <% end %>
        </div>
