<script src="http://maps.googleapis.com/maps/api/js"></script>
<div class="container-fluid">
    <div class="row">    
        <div class="col-xs-12">
            <div class="show">
                <p><% if @order.photo.exists? %>
                    <%= link_to @order.photo.url, :target => "_blank" do %>
                    <%= image_tag(@order.photo.url(:thumb)) %>
                    <% end %>
                    <% end %>
                </p>
                <hr>
                <h3>
                    1.訂單基本要求
                </h3>
                <p>點餐項目及需求數量:</p>
                    <%= simple_format(@order.detail.description) %>
                <p>指定購餐地點:
                    <% if @order.pickup_addr!=""%>
                    <%= @order.pickup_addr %>
                    <%else%>
                    <%='無限制'%>
                    <%end%>
                </p>
                <p>總餐點預算:
                    <%= @order.detail.prepay %></p>
                <p>送餐地點:
                    <%= @order.deliver_addr %></p>
                <hr>
                <h3>
                    2.送達時間及運費
                </h3>
                <p>期望餐點送達時間:
                    <%= @order.deliver_time.strftime('%F') %>
                    <%= @order.deliver_time.strftime('%R') %>
                </p>
                <p>願付運費:
                    <%= @order.detail.fee %></p>
                <hr>
                <h3>
                    3.收件人資料
                </h3>

                <p>收件人:
                    <%= @order.detail.addressees_name %></p>
                <p>聯絡電話:
                    <%= @order.detail.addressees_mobile %></p>
            </div>

            <hr>
            <div class="buttons">
                <%if @order.courier_id==nil%>
                <%if current_user.id!=@order.owner_id%>
                <!-- nobody take this order and it is not owned by current_user-->
                <%= link_to '我要接單', take_order_path(@order),:method=>:post, :class => "btn btn-success" %>
                <%end%>
                <%elsif current_user.id==@order.courier_id%>
                <%= link_to '取消接單', reject_order_path(@order),:method=>:post, :class => "btn btn-danger" %>
                <%else%>
                <%= link_to '訂單處理中', '#', :class => "btn btn-danger" %>
                <%end%>
                <%= link_to '回到訂單主選單', orders_path, :class => "btn btn-primary" %>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div clss="show">
          <div id="googleMap"></div>
        </div>
      </div>
    </div>
</div>

            

<script>

function initialize() {
  var g2 = new google.maps.Geocoder;
  g2.geocode({'address':'<%=j @order.deliver_addr%>'},function(results,status){
    console.log(status);
    if(status=="OK"){
    // console.log(results);
    // console.log(results[0].geometry['location'].lat()+","+results[0].geometry['location'].lng());
    var mapinfo = {
      center:results[0].geometry['location'],
      zoom:16,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map=new google.maps.Map(document.getElementById("googleMap"),mapinfo);
    var marker=new google.maps.Marker({
      position:results[0].geometry['location'],
    });

    marker.setMap(map);
    var addr='<%=j @order.deliver_addr%>'
    var infowindow = new google.maps.InfoWindow({
      content:addr
    });
    infowindow.open(map,marker);
  }
  });

}

$(document).ready(function(){
  initialize();
});

</script>