<script src="http://maps.googleapis.com/maps/api/js"></script>
<div class="container-fluid EEE">
    <div class="row">
        <div class="col-xs-12 ">
            <div class="show col-sm-5">
                <h3>1.訂單基本要求</h3>

                <div class="yellow-area">
                    <p class="subtitle"><i class="fa fa-pulse fa-cutlery fa-lg" aria-hidden="true" style="margin-right: 10px;"></i>點餐項目及需求數量:</p>

                    <span> <%= simple_format(@order.detail.description) %></span>
                    <p class="subtitle"><i class="fa fa-map-marker fa-lg" aria-hidden="true" style="margin-right: 10px;"></i>指定購餐地點:
                        <% if @order.pickup_addr!=""%>
                        <span><%= @order.pickup_addr %></span>
                        <%else%>
                        <span><%='無限制'%></span>
                        <%end%>
                    </p>

                    <p class="subtitle"><i class="fa fa-usd fa-lg" aria-hidden="true" style="margin-right: 10px;"></i>總餐點預算:
                        <span><%= @order.detail.prepay %>$</p></span>
                    <p class="subtitle"><i class="fa fa-thumb-tack fa-lg" aria-hidden="true" style="margin-right: 10px;"></i>送餐地點:
                        <span><%= @order.deliver_addr %></p></span>
                </div>
                <hr>
                <h3>2.送達時間及運費</h3>

                <div class="yellow-area">
                    <p class="subtitle"><i class="fa fa-calendar fa-lg" aria-hidden="true" style="margin-right: 10px;"></i>期望餐點送達時間:
                        <span><%= @order.deliver_time.strftime('%F') %></span>
                        <span><%= @order.deliver_time.strftime('%R') %></span>
                    </p>
                    <p class="subtitle"><i class="fa fa-usd fa-lg" aria-hidden="true" style="margin-right: 10px;"></i>願付運費:
                        <span><%= @order.detail.fee %>$</p></span>
                </div>
                <hr>
                <h3>3.收件人資料</h3>

                <div class="yellow-area">

                    <p class="subtitle"><i class="fa fa-at fa-lg" aria-hidden="true" style="margin-right: 10px;"></i>收件人:
                        <span><%= @order.detail.addressees_name %></p></span>
                    <p class="subtitle"><i class="fa fa-phone fa-lg" aria-hidden="true" style="margin-right: 10px;"></i>聯絡電話:
                        <span><%= @order.detail.addressees_mobile %></p></span>
                </div>
            </div>

            <div id="googleMap" class="col-sm-7"></div>

            <div class="buttons col-sm-12">
                <%if @order.courier_id==nil%>
                <%if current_user.id!=@order.owner_id%>
                <!-- nobody take this order and it is not owned by current_user-->
                <%= link_to '我要接單', take_order_path(@order),:method=>:post, :class => "btn btn-success" %>
                <%end%>
                <%elsif current_user.id==@order.courier_id%>
                <%= link_to '取消接單', reject_order_path(@order),:method=>:post, :class => "btn btn-danger" %>
                <%else%>
                <%= link_to '訂單處理中', '#', :class => "btn btn-danger" %>
                <%end%>
                <%= link_to '回到訂單主選單', orders_path, :class => "btn btn-primary" %>
            </div>

        </div>
    </div>
</div>



<script>

function initialize() {
  var g2 = new google.maps.Geocoder;
  g2.geocode({'address':'<%=j @order.deliver_addr%>'},function(results,status){
    console.log(status);
    if(status=="OK"){
    // console.log(results);
    // console.log(results[0].geometry['location'].lat()+","+results[0].geometry['location'].lng());
    var mapinfo = {
      center:results[0].geometry['location'],
      zoom:16,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map=new google.maps.Map(document.getElementById("googleMap"),mapinfo);
    var marker=new google.maps.Marker({
      position:results[0].geometry['location'],
    });

    marker.setMap(map);
    var addr='<%=j @order.deliver_addr%>'
    var infowindow = new google.maps.InfoWindow({
      content:addr
    });
    infowindow.open(map,marker);
  }
  });

}

$(document).ready(function(){
  initialize();
});

</script>
