<div class="container">

<p><% if @order.photo.exists? %>
  <%= link_to @order.photo.url, :target => "_blank" do %>
  <%= image_tag(@order.photo.url(:thumb)) %>
  <% end %>
  <% end %>
</p>

<p>代買物送達地址: <%= @order.deliver_addr %></p>
<p>要求送達時間: <%= @order.deliver_time %></p>
<p>代買物品種類: <%= @order.category %></p>
<p>指定代買地址: <%= @order.pickup_addr %></p>
<p>代買物品描述: <%= @order.detail.description %></p>
<p>願意支付跑腿金額: <%= @order.detail.fee %></p>
<p>需要墊支金額範圍: <%= @order.detail.prepay %></p>
<p>取件人姓名: <%= @order.detail.addressees_name %></p>
<p>取件者電話: <%= @order.detail.addressees_mobile %></p>

<%= link_to 'back to list', orders_path%>

</div>
