<!DOCTYPE html>
<html>
<head>
  <title>順路送-BTWexpress</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width; initial-scale=1"/>

</head>

<body>
  <div id="head-nav">
    <div class ="ham-head">
      <h1>順路送-BTWexpress</h1>
      <button class="hamburger">&#9776;</button>
      <button class="cross">&#735;</button>
    </div>

    <% if current_user %>
      <%= link_to('登出 Facebook', destroy_user_session_path, :class => "btn btn-primary btn-md fb-btn", :method => :delete) %>
    <% end %>

    <div class="menu">
      <ul>
        <a href="#"><li><i class="fa fa-user" aria-hidden="true">我的帳號</i></li></a>
        <a href="#"><li>LINK TWO: Hugo is NOT very Hot</li></a>
        <a href="#"><li>LINK THREE: But his gf is</li></a>
        <a href="#"><li>LINK FOUR: Kaho runs</li></a>
        <a href="#"><li>LINK FIVE: Janice sleeps</li></a>
      </ul>

    </div>
    <div id="out"></div>
  </div>
  <%= yield %>
</body>
</html>




