<!DOCTYPE html>
<html>
<head>
  <title>順路送-BTWexpress</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width; initial-scale=1"/>

</head>

<div id="head-nav">
  <div class ="ham-head">
    <%= link_to root_path, :class=>"brand" do %>
      <h1>順路送BTWexpress</h1>
    <%end%>

    <% if current_user %>
      <%= link_to('Facebook登出', destroy_user_session_path, :class => "btn btn-primary fb-btn", :method => :delete) %>
    <% else %>
      <%= link_to user_omniauth_authorize_path(:facebook), :class => "btn btn-primary btn-md fb-btn" do%>
        <i class="fa fa-facebook" aria-hidden="true">  &nbsp;Facebook登入</i>
        <% end %>
    <% end %>

    <button class="hamburger">&#9776;</button>
    <button class="cross">&#735;</button>
  </div>

  <div class="menu">
    <ul>
      <a href="#"><li><i class="fa fa-user" aria-hidden="true">我的帳號</i></li></a>
      <a href="#"><li>LINK TWO</li></a>
      <a href="#"><li>LINK THREE</li></a>
      <a href="#"><li>LINK FOUR</li></a>
      <a href="#"><li>LINK FIVE</li></a>
    </ul>
  </div>

  <div id="out"></div>

</div>

<body>
  <div class="hugo-so-hot"></div>
    <%= yield %>

</body>

<footer>

</footer>
</html>




