<!DOCTYPE html>
<html>
<head>
  <title>順路送-BTWexpress</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width; initial-scale=1"/>

</head>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="#">
        <h1>順手送BTWexpress</h1>
      </a>

      <a href="#" id="rule" class="navbar-link hidden-xs">服務規章</a>

      <% if current_user %>
        <%= link_to('登出', destroy_user_session_path, :class => "btn btn-default btn-mi fb-btn", :method => :delete) %>

        <div class="profile">
          <%= link_to "個人資料", :class=> "profile btn-default btn btn-xs" do %>
            <span class="hidden-xs">個人資料</span><i class="fa fa-user" aria-hidden="true"></i>
          <% end %>
        </div>

      <% else %>
        <%= link_to "登入 Facebook", user_omniauth_authorize_path(:facebook), :class => "btn btn-primary btn-mi fb-btn" %>
      <% end %>

      </div>

    </div>
  </div>
</nav>

<body>

  <div id="head-nav"></div>
  <%= yield %>

</body>

<footer>

</footer>
</html>




