<!DOCTYPE html>
<html>
<head>
  <title>順路送-BTWexpress</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width; initial-scale=1"/>

</head>

<nav>
  <h1>順路送-BTWexpress</h1>
</nav>

<body>
  <div id="head-nav">


    <% if current_user %>
      <%= link_to('登出 Facebook', destroy_user_session_path, :class => "btn btn-primary fb-btn", :method => :delete) %>
    <% end %>

  </div>
  <%= yield %>
</body>
</html>




